

<div class="content">
  <% @mumbles.each do |mumble| %>
    <img src="<%= mumble["image"] %>">
    <img src="<%= mumble["author_thumbnail"]%>">
    <p><%= mumble["text"] %></p>
    <p><%= mumble["author_handle"] %></p>
    <p><%= mumble["date"] %></p>
    <p><%= mumble["tags"] %></p>
    <p><%= mumble["likes"] %> Likes </p>
  <% end %>
</div>
